node_modules/
npm-debug.log
*.egg-info/

# Compiled javascript
jupyterlab_geojs/__pycache__/
jupyterlab_geojs/labextension/
jupyterlab_geojs/nbextension/
lib/

test/browser/browser.bundle.js
test/browser/browser.html
test/las/las.html
test/las/pointcloud.bundle.js

# Runtime files
*checkpoint.*
jupyterlab_geojs/__logs__/*.log

# OS X
.DS_Store
