.jp-OutputWidgetGeoJS {
   min-height: 500px;
   overflow: auto;
   resize: vertical;
   width: 100%;
 }

div.output_subarea.output_GeoJS {
   padding: 0.4em 0;
   max-width: 100%;
 }


.jp-OutputWidgetLAS {
  height: 480px  !important;
  overflow: auto;
  width: 100%;
}

div.output_subarea.output_LAS {
  padding: 0.4em 0;
  max-width: 100%;
}

.jp-TooltipGeoJS {
  background: lightblue;
  border-radius: 4px;
  opacity: 0.9;
  /*padding-right: 10px;*/
}
